In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
raw_data = pd.read_csv("../data/raw/diabetic_data.csv")

In [4]:
missing_value_count = (raw_data == "?").sum()

missing_value_percentage = ((raw_data == "?").sum() / len(raw_data)) * 100

missing_value_percentage

encounter_id                 0.000000
patient_nbr                  0.000000
race                         2.233555
gender                       0.000000
age                          0.000000
weight                      96.858479
admission_type_id            0.000000
discharge_disposition_id     0.000000
admission_source_id          0.000000
time_in_hospital             0.000000
payer_code                  39.557416
medical_specialty           49.082208
num_lab_procedures           0.000000
num_procedures               0.000000
num_medications              0.000000
number_outpatient            0.000000
number_emergency             0.000000
number_inpatient             0.000000
diag_1                       0.020636
diag_2                       0.351787
diag_3                       1.398306
number_diagnoses             0.000000
max_glu_serum                0.000000
A1Cresult                    0.000000
metformin                    0.000000
repaglinide                  0.000000
nateglinide                  0.000000
chlorpropamide               0.000000
glimepiride                  0.000000
acetohexamide                0.000000
glipizide                    0.000000
glyburide                    0.000000
tolbutamide                  0.000000
pioglitazone                 0.000000
rosiglitazone                0.000000
acarbose                     0.000000
miglitol                     0.000000
troglitazone                 0.000000
tolazamide                   0.000000
examide                      0.000000
citoglipton                  0.000000
insulin                      0.000000
glyburide-metformin          0.000000
glipizide-metformin          0.000000
glimepiride-pioglitazone     0.000000
metformin-rosiglitazone      0.000000
metformin-pioglitazone       0.000000
change                       0.000000
diabetesMed                  0.000000
readmitted                   0.000000
dtype: float64

### Drop columns that exceed the 20% acceptable threshold for missing values.

In [5]:
raw_data = raw_data.drop(columns=["weight", "payer_code", "medical_specialty"], inplace=False)

raw_data.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [6]:
DRUG_COLS = [
    "metformin","repaglinide","nateglinide","chlorpropamide","glimepiride",
    "acetohexamide","glipizide","glyburide","tolbutamide","pioglitazone",
    "rosiglitazone","acarbose","miglitol","troglitazone","tolazamide",
    "examide","citoglipton","insulin","glyburide-metformin","glipizide-metformin",
    "glimepiride-pioglitazone","metformin-rosiglitazone","metformin-pioglitazone"
]

drug_summary = raw_data[DRUG_COLS].apply(pd.Series.value_counts).T.fillna(0).astype(int)
drug_percentages = drug_summary.div(drug_summary.sum(axis=1), axis=0) * 100
  
drug_percentages

                               Down          No     Steady         Up
metformin                  0.565022   80.358862  18.027632   1.048484
repaglinide                0.044219   98.487707   1.359983   0.108091
nateglinide                0.010809   99.309200   0.656408   0.023584
chlorpropamide             0.000983   99.915492   0.077629   0.005896
glimepiride                0.190633   94.899082   4.588959   0.321325
acetohexamide              0.000000   99.999017   0.000983   0.000000
glipizide                  0.550282   87.534147  11.158933   0.756638
glyburide                  0.554213   89.534815   9.113063   0.797909
tolbutamide                0.000000   99.977399   0.022601   0.000000
pioglitazone               0.115952   92.799167   6.854942   0.229939
rosiglitazone              0.085490   93.745455   5.994143   0.174911
acarbose                   0.002948   99.697345   0.289881   0.009826
miglitol                   0.004913   99.962659   0.030462   0.001965
troglitazone               0.000000   99.997052   0.002948   0.000000
tolazamide                 0.000000   99.961677   0.037341   0.000983
examide                    0.000000  100.000000   0.000000   0.000000
citoglipton                0.000000  100.000000   0.000000   0.000000
insulin                   12.005974   46.560737  30.313661  11.119627
glyburide-metformin        0.005896   99.306252   0.679991   0.007861
glipizide-metformin        0.000000   99.987226   0.012774   0.000000
glimepiride-pioglitazone   0.000000   99.999017   0.000983   0.000000
metformin-rosiglitazone    0.000000   99.998035   0.001965   0.000000
metformin-pioglitazone     0.000000   99.999017   0.000983   0.000000

### Drop columns that are near constant (>= 99%).

In [7]:
drop_drugs = [
    "nateglinide",
    "chlorpropamide",
    "acetohexamide",
    "tolbutamide",
    "acarbose",
    "miglitol",
    "troglitazone",
    "tolazamide",
    "examide",
    "citoglipton",
    "glyburide-metformin",
    "glipizide-metformin",
    "glimepiride-pioglitazone",
    "metformin-rosiglitazone",
    "metformin-pioglitazone"
]

raw_data = raw_data.drop(columns=drop_drugs, inplace=False)
raw_data.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,repaglinide,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,No,No,No,No,No,Up,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,Steady,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,No,No,No,No,No,Up,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,No,Steady,No,No,No,Steady,Ch,Yes,NO

In [8]:
patient_nbr_is_unique = raw_data["patient_nbr"].is_unique

encounter_id_is_unique = raw_data["encounter_id"].is_unique

print(f"Patient number is unique: {patient_nbr_is_unique}")
print(f"Encounter id is unique: {encounter_id_is_unique}")

Patient number is unique: False
Encounter id is unique: True

In [9]:
raw_data = raw_data.drop(columns=["patient_nbr", "encounter_id"], inplace=False)

raw_data.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,repaglinide,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,1,41,0,1,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),1,1,7,3,59,0,18,...,No,No,No,No,No,No,Up,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,13,...,No,No,Steady,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),1,1,7,2,44,1,16,...,No,No,No,No,No,No,Up,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,1,7,1,51,0,8,...,No,No,Steady,No,No,No,Steady,Ch,Yes,NO

In [10]:
OHE_COLS = [
    "race",
    "gender",
    "admission_type_id",
    "discharge_disposition_id",
    "admission_source_id",
    "max_glu_serum",
    "A1Cresult"
]

raw_data = pd.get_dummies(raw_data, columns=OHE_COLS, drop_first=False, dtype=int)

raw_data.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,...,admission_source_id_17,admission_source_id_20,admission_source_id_22,admission_source_id_25,max_glu_serum_>200,max_glu_serum_>300,max_glu_serum_Norm,A1Cresult_>7,A1Cresult_>8,A1Cresult_Norm
0,[0-10),1,41,0,1,0,0,0,250.83,?,...,0,0,0,0,0,0,0,0,0,0
1,[10-20),3,59,0,18,0,0,0,276,250.01,...,0,0,0,0,0,0,0,0,0,0
2,[20-30),2,11,5,13,2,0,1,648,250,...,0,0,0,0,0,0,0,0,0,0
3,[30-40),2,44,1,16,0,0,0,8,250.43,...,0,0,0,0,0,0,0,0,0,0
4,[40-50),1,51,0,8,0,0,0,197,157,...,0,0,0,0,0,0,0,0,0,0

In [11]:
age_map = {
    "[0-10)":0, "[10-20)":1, "[20-30)":2, "[30-40)":3,
    "[40-50)":4, "[50-60)":5, "[60-70)":6, "[70-80)":7,
    "[80-90)":8, "[90-100)":9
}

raw_data["age"] = raw_data["age"].map(age_map).astype(int)
raw_data.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,...,admission_source_id_17,admission_source_id_20,admission_source_id_22,admission_source_id_25,max_glu_serum_>200,max_glu_serum_>300,max_glu_serum_Norm,A1Cresult_>7,A1Cresult_>8,A1Cresult_Norm
0,0,1,41,0,1,0,0,0,250.83,?,...,0,0,0,0,0,0,0,0,0,0
1,1,3,59,0,18,0,0,0,276,250.01,...,0,0,0,0,0,0,0,0,0,0
2,2,2,11,5,13,2,0,1,648,250,...,0,0,0,0,0,0,0,0,0,0
3,3,2,44,1,16,0,0,0,8,250.43,...,0,0,0,0,0,0,0,0,0,0
4,4,1,51,0,8,0,0,0,197,157,...,0,0,0,0,0,0,0,0,0,0

In [12]:
DRUG_COLS = [
    "metformin","repaglinide","glimepiride","glipizide","glyburide","pioglitazone","rosiglitazone","insulin"
]

for col in DRUG_COLS:
    unique_values_drugs = raw_data[col].unique()
    print(f"{col}: {unique_values_drugs}")

metformin: ['No' 'Steady' 'Up' 'Down']
repaglinide: ['No' 'Up' 'Steady' 'Down']
glimepiride: ['No' 'Steady' 'Down' 'Up']
glipizide: ['No' 'Steady' 'Up' 'Down']
glyburide: ['No' 'Steady' 'Up' 'Down']
pioglitazone: ['No' 'Steady' 'Up' 'Down']
rosiglitazone: ['No' 'Steady' 'Up' 'Down']
insulin: ['No' 'Up' 'Steady' 'Down']

In [13]:
drug_map = {"No":0, "Down":1, "Steady":2, "Up":3}

for col in DRUG_COLS:
    raw_data[col] = raw_data[col].map(drug_map).astype(int)

raw_data.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,...,admission_source_id_17,admission_source_id_20,admission_source_id_22,admission_source_id_25,max_glu_serum_>200,max_glu_serum_>300,max_glu_serum_Norm,A1Cresult_>7,A1Cresult_>8,A1Cresult_Norm
0,0,1,41,0,1,0,0,0,250.83,?,...,0,0,0,0,0,0,0,0,0,0
1,1,3,59,0,18,0,0,0,276,250.01,...,0,0,0,0,0,0,0,0,0,0
2,2,2,11,5,13,2,0,1,648,250,...,0,0,0,0,0,0,0,0,0,0
3,3,2,44,1,16,0,0,0,8,250.43,...,0,0,0,0,0,0,0,0,0,0
4,4,1,51,0,8,0,0,0,197,157,...,0,0,0,0,0,0,0,0,0,0

In [14]:
unique_values_change = raw_data["change"].unique()
print(f"Change: {unique_values_change}")

Change: ['No' 'Ch']

In [15]:
unique_values_diabetesMed = raw_data["diabetesMed"].unique()
print(f"DiabetesMed: {unique_values_diabetesMed}")

DiabetesMed: ['No' 'Yes']

In [16]:
binary_map = {"No":0, "Ch":1, "Yes":1}
raw_data["change"] = raw_data["change"].map(binary_map).astype(int)
raw_data["diabetesMed"] = raw_data["diabetesMed"].map(binary_map).astype(int)

raw_data.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,...,admission_source_id_17,admission_source_id_20,admission_source_id_22,admission_source_id_25,max_glu_serum_>200,max_glu_serum_>300,max_glu_serum_Norm,A1Cresult_>7,A1Cresult_>8,A1Cresult_Norm
0,0,1,41,0,1,0,0,0,250.83,?,...,0,0,0,0,0,0,0,0,0,0
1,1,3,59,0,18,0,0,0,276,250.01,...,0,0,0,0,0,0,0,0,0,0
2,2,2,11,5,13,2,0,1,648,250,...,0,0,0,0,0,0,0,0,0,0
3,3,2,44,1,16,0,0,0,8,250.43,...,0,0,0,0,0,0,0,0,0,0
4,4,1,51,0,8,0,0,0,197,157,...,0,0,0,0,0,0,0,0,0,0

In [17]:
unique_values_change = raw_data["readmitted"].unique()
print(f"Readmitted: {unique_values_change}")

Readmitted: ['NO' '>30' '<30']

In [18]:
readmitted_binary_map = {"NO":0, ">30":0, "<30":1}
raw_data["readmitted"] = raw_data["readmitted"].map(readmitted_binary_map).astype(int)

raw_data.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,...,admission_source_id_17,admission_source_id_20,admission_source_id_22,admission_source_id_25,max_glu_serum_>200,max_glu_serum_>300,max_glu_serum_Norm,A1Cresult_>7,A1Cresult_>8,A1Cresult_Norm
0,0,1,41,0,1,0,0,0,250.83,?,...,0,0,0,0,0,0,0,0,0,0
1,1,3,59,0,18,0,0,0,276,250.01,...,0,0,0,0,0,0,0,0,0,0
2,2,2,11,5,13,2,0,1,648,250,...,0,0,0,0,0,0,0,0,0,0
3,3,2,44,1,16,0,0,0,8,250.43,...,0,0,0,0,0,0,0,0,0,0
4,4,1,51,0,8,0,0,0,197,157,...,0,0,0,0,0,0,0,0,0,0

In [34]:
unique_values_diag1 = raw_data["diag_1"].unique()
print(f"Diagnosis 1: {unique_values_diag1}")

Diagnosis 1: ['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' '737' '572' 'V57' '189' '786' '427' '996'
 '277' '584' '462' '473' '411' '174' '486' '998' '511' '432' '626' '295'
 '196' '250.6' '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11'
 '784' '707' '440' '151' '715' '997' '198' '564' '812' '38' '590' '556'
 '578' '250.32' '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558'
 '574' '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332'
 '562' '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625'
 '571' '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515'
 '780' '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514'
 'V55' '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822'
 '191' '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' '?' '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875' '381' '804' '704'
 '23' '58' '649' '832' '133' '975' '833' '391' '690' '10' 'V51']

In [20]:
raw_data = raw_data.drop(columns=["diag_2", "diag_3"], inplace=False)

In [21]:
chapters = pd.read_csv("../data/external/icd9_chapters.csv")

In [32]:
def safe_int(x):
    try:
        return int(str(x).replace("E", "").replace("V", ""))
    except ValueError:
        return None

chapters["start_num"] = chapters["start"].apply(safe_int)
chapters["end_num"]   = chapters["end"].apply(safe_int)

def bucket_icd9(code: str) -> str:
    # treat "?" as unknown
    if pd.isna(code) or str(code).strip() == "?":
        return "Unknown"

    code = str(code).strip()

    # V / E chapters
    if code[0].upper() == "V":
        return "Supplementary Factors (V)"
    if code[0].upper() == "E":
        return "External Causes (E)"

    m = re.match(r"^(\d{3})", code.replace(".", ""))
    if not m:
        return "Unknown"

    three = int(m.group(1))

    for _, row in chapters.iterrows():
        if row["start_num"] is not None and row["end_num"] is not None:
            if row["start_num"] <= three <= row["end_num"]:
                return row["name"]

    return "Other/Unmapped"

c = "diag_1"

raw_data[c] = raw_data[c].astype(str)
raw_data[c + "_grp"] = raw_data[c].apply(bucket_icd9)

In [33]:
raw_data.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,number_diagnoses,...,admission_source_id_20,admission_source_id_22,admission_source_id_25,max_glu_serum_>200,max_glu_serum_>300,max_glu_serum_Norm,A1Cresult_>7,A1Cresult_>8,A1Cresult_Norm,diag_1_grp
0,0,1,41,0,1,0,0,0,250.83,1,...,0,0,0,0,0,0,0,0,0,Endocrine/Metabolic/Immunity
1,1,3,59,0,18,0,0,0,276,9,...,0,0,0,0,0,0,0,0,0,Endocrine/Metabolic/Immunity
2,2,2,11,5,13,2,0,1,648,6,...,0,0,0,0,0,0,0,0,0,Pregnancy/Childbirth/Puerperium
3,3,2,44,1,16,0,0,0,8,7,...,0,0,0,0,0,0,0,0,0,Unknown
4,4,1,51,0,8,0,0,0,197,5,...,0,0,0,0,0,0,0,0,0,Neoplasms

In [36]:
raw_data = raw_data.drop(columns=["diag_1"], inplace=False)

In [39]:
raw_data = pd.get_dummies(
    raw_data,
    columns=["diag_1_grp"],
    prefix="diag1",
    drop_first=False,
    dtype=int
)

raw_data.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,metformin,...,max_glu_serum_Norm,A1Cresult_>7,A1Cresult_>8,A1Cresult_Norm,diag1_0,diag1_1,diag1_2,diag1_18,diag1_19,diag1_20
0,0,1,41,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,1,3,59,0,18,0,0,0,9,0,...,0,0,0,0,1,0,0,0,0,0
2,2,2,11,5,13,2,0,1,6,0,...,0,0,0,0,1,0,0,0,0,0
3,3,2,44,1,16,0,0,0,7,0,...,0,0,0,0,1,0,0,0,0,0
4,4,1,51,0,8,0,0,0,5,0,...,0,0,0,0,0,0,1,0,0,0

In [40]:
# See non-numeric columns
non_numeric = raw_data.select_dtypes(exclude=["number"]).columns
print("Non-numeric columns:", non_numeric.tolist())

Non-numeric columns: []

In [35]:
raw_data.to_csv("testing.csv", index=False)